@use "variables" as variables;


.card {

    display: flex;
    justify-content: center;


    div {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {

            width: 100%;

        }

        h3 {

            margin-top: 1rem;
            letter-spacing: 3px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;

        }

        p {

            margin-top: 0.5rem;
            margin-bottom: 0.75rem;
            font-size: 1.25rem;
            color: variables.$ktm-orange;

        }


    }


    &RecentLaunchCard {

        div {

            transition: box-shadow 0.4s ease;


            &:hover {

                box-shadow: -1px 1px 20px 0px rgba(0, 0, 0, 0.19);

            }

        }

    }

    &StyleBikeDiscover {


        div {

            .hashtagCard {

                margin-top: 1.25rem;
                font-size: 1rem;
                letter-spacing: 2px;

            }

            p {
                font-size: 2rem;
                letter-spacing: 2px;
                color: black;

            }

        }

    }

    &DiscoverMerchandising {

        div {

            width: 100%;

            img {

                width: 100%;
                filter: blur(2px);
                transition: filter 0.4s ease;
                object-fit: cover;

            }

            p {

                position: absolute;
                text-align: center;
                font-size: 5rem;
                color: white;
                width: auto;
                letter-spacing: 2px;
                transition: color 0.4s ease;

            }

            @include variables.respond-to("desktop-sm") {

                p {

                    font-size: 3rem;

                }

            }

            @include variables.respond-to("tablet") {

                p {

                    font-size: 2.3rem;

                }

            }

            @include variables.respond-to("mobile") {

                display: flex;
                flex-direction: column;

                img {

                    filter: blur(0px);
                    
                }

                p {

                    margin-top: 2rem;
                    color: black;
                    position: relative;
                    font-size: 1.9rem;

                }

            }

        }

        div:hover {

            img {

                filter: blur(0);

            }

            p {

                color: rgba(0, 0, 0, 0);

            }


        }

    }

    &News {

        overflow: hidden;

        div {

            min-width: 0;
            align-items: start;

            img {

                aspect-ratio: 1/1;

            }

            .cardNewsDate {

                margin-top: 1rem;
                letter-spacing: 2px;
                color: black;
            }



            h3 {

                white-space: normal;
                margin-top: 1rem;
                font-size: 2rem;
                letter-spacing: 3px;
                height: 7.5rem;
                overflow: hidden;

            }

            .cardNewsLead {

                margin-top: 1rem;
                font-size: 1.25rem;
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 4;
                text-overflow: ellipsis;
                letter-spacing: 1px;
                color: black;

            }

            @include variables.respond-to("desktop-sm") {

                .cardNewsName {

                    font-size: 1.5rem;
                    height: 3.75rem;

                }

            }

        }

    }

}