@font-face {

  font-family: 'BebasNeue-Regular';
  src: url('../font/BebasNeue-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  
}

* {

  font-family: 'BebasNeue-Regular';

}