@use "variables.scss" as variables;

.heroDiscoverPlace {

    display: flex;
    justify-content: center;
    width: 100%;

    div {

        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        align-items: end;
        width: 100%;

        img {

            width: 100%;
            height: auto;

        }

        .title {

            position: absolute;
            margin-right: 4rem;
            display: flex;
            flex-direction: column;
            align-items: end;

            p {

                font-size: 6rem;
                color: white;

            }

            @include variables.respond-to('desktop-sm') {

                p {

                    font-size: 4rem;

                }

            }

            @include variables.respond-to('tablet') {

                p {

                    font-size: 2rem;

                }

            }

        }

        @include variables.respond-to('mobile') {

            align-items: center;

            div {

                flex-direction: column;

            }

            .title {

                position: static;
                margin: 0;
                display: flex;
                justify-content: center;
                align-items: center;

                p {

                    margin-top: 1rem;
                    font-size: 2.5rem;
                    color: black;

                }

            }

        }

    }

}