* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    
    font-size: 100%;
    
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

input,
button,
textarea,
select {
    border: none;
    outline: none;
    font: inherit;
}