@use "../utils/variables" as variables;

footer {

    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: black;

}

.footerCategoryList {

    display: flex;
    justify-content: space-between;
    width: 80vw;
    margin-top: 5rem;

    div {

        display: flex;
        justify-content: space-between;

    }

    @include variables.respond-to("laptop") {

        flex-direction: column;

    }

}

.footerCategory {

    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: white;
}

.footerItem {

    margin-bottom: 0.5rem;
    color: white;
    font-size: 1.25rem;
    cursor: pointer;

    @include variables.respond-to("laptop") {

        display: none;

    }

}

.footerItem:hover {

    color: variables.$ktm-orange;

}

.footerIcons {

    svg {

        height: 2rem;
        width: 2rem;
        margin-right: 1rem;
        cursor: pointer;

    }

}

.footerListArrow {

    fill: white;
    width: 1.2rem;
    height: 1.2rem;
    margin-top: 0.25rem;
    margin-right: 0.25rem;
    display: none;

    @include variables.respond-to("laptop") {

        display: block;

    }

}

.categoryContainer {

    &.active {

        @include variables.respond-to("laptop") {

            .footerList {

                margin-bottom: 1rem;

            }

            .footerCategory {

                color: variables.$ktm-orange;

            }

            .footerItem {

                display: block;

            }

            .footerListArrow {

                fill: variables.$ktm-orange;
                rotate: 90deg;

            }


        }

    }

}

.copyrightContainer {

    margin: 2rem 0 2rem 0;
    display: flex;
    justify-content: space-between;
    width: 80vw;
    border-top: 1px solid white;

    p {

        margin-top: 3rem;
        color: white;

    }

    a {

        display: flex;
        align-items: center;
        font-size: 1.25rem;
        margin-top: 3rem;
        color: variables.$ktm-orange;

        svg {

            height: 2rem;
            width: 2rem;
            margin-left: 1rem;
            transform: rotate(-90deg);

        }

    }

    @include variables.respond-to("laptop") {

        flex-direction: column;
        align-items: center;

    }

}